PORT=4000
MONGODB_URL=mongodb+srv://panchaljatin:Jatin@1234@cluster0.7j6m2kv.mongodb.net
ACCESS_TOKEN_SECRET=JFIEUIWFHUHFWUEIHFUIWEHUFHEWHF_FEFIUSNINRIUEINIBNIFEWSIFBOWGBOSIOJFEOJIFNEOS-KSFNSDKFNKE
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=JBFHEHSWUYGUujhdIuiudhIHDIHIuhuifhe-NKJjjBiUbBjJKiIuBUJiVYUHkyuFTYfgytgfVGYTfyjFFyfUjFv
REFRESH_TOKEN_EXPIRY=10d
